<div id="pamin-page" ng-controller="MainController as main" layout="column"  md-theme="indigo">
  <md-toolbar id="main-header" class="pamin-theme" layout="row">

    <div class="md-toolbar-tools">

      <h1 class="header-title">
        <a href="/"><%= image_tag("paminlogo.png", :alt => 'Pamin Logo', :class => 'pamin-logo') %></a>
      </h1>

      <nav class="header-nav" layout="row" layout-align="start" flex>
        <ul>
          <li><a ng-href="{{ (main.route.path() !== '/categorias') ? '/categorias' : '/' }}">Categorias</a></li>
        </ul>
      </nav>

      <nav class="header-nav" layout="row" layout-align="end">
        <ul layout="row">
          <li ng-show="main.auth.isAuthenticated()"><a href="/registro/novo">Registro</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li ng-hide="main.auth.isAuthenticated()"><a href="/entrar">Entrar</a></li>
          <li ng-show="main.auth.isAuthenticated()"><a class="clickable" ng-click="main.logout()">Sair</a></li>
        </ul>
      </nav>

    </div>

  </md-toolbar>

  <div id="main-content">
    <md-content id="view-content" class="md-whiteframe-z3" ng-view>
    </md-content>

    <div id="map-container">
      <zig-map id="pamin-map"></zig-map>
    </div>
  </div>
</div>
